*{
  margin: 0px;
  padding: 0px;
}



body {
  background-color: #EFEFEF;
  font-family: Arial;
}




/*Background*/
.main{
  background: linear-gradient(#E5B100, #AB8A17, #AB8A17, #999999);
  background: linear-gradient(#CB009A, #FF29CB, #FFBF2C, #FFB200, #F3FF00);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}

.main2{
  background-image: url(../../public/img/background/background-site.png);
  background-size: 100%;
  background-position: center top; 
}



/*Alerte*/
#alert{
  background-color: red;
  padding: 10px 0px;
  color: #fff;
  font-weight: bold;
  text-align: center;
}



/* HEADER*/
/*Mode portable*/
.menu li> a {
    position: relative;
    color: #fff;
    text-decoration: none;
  }
  
  
  
  .menu li> a:hover {
    color: #fff;
  }
  
  
  
  .menu li> a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right,#3059ff, #62dbff);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
   }
  
  
  
  .menu li> a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  
  
  
  /* header */
  
  .header {
    background-color: #000;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    position: relative;
    z-index: 300;
  }
  
  
  
  .header img{
    margin: 13px;
    width: 20%;
    margin-top: 22px;
    margin-left: 35px;
  }
  
  
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #000;
    text-align: center;
  }
  
  .header li a {
    padding: 20px 20px;
    border-right: 0px solid #f4f4f4;
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 0 auto;
  }
  
  
  
  .header .logo {
    display: block;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 50px;
  }
  
  
  
  .menu-icon{
      margin-top: 10px;
  }
  
  
  .header .menu-icon .navicon::before, .header .menu-icon .navicon::after {
      background: #fff;
  }
  
  
  .header .menu-icon .navicon {
      background: #fff;
  }
  
  
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 40px 30px;
    position: relative;
    user-select: none;
    margin-top: 0px !important;
  }
  
  
  
  .header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 36px;
    height: 4px;
  }
  
  
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  
  
  .header .menu-icon .navicon:before {
    top: 10px;
    height: 4px;
  }
  
  
  
  .header .menu-icon .navicon:after {
    top: -10px;
    height: 4px;
  }
  
  
  
  /* menu btn */
  
  
  .header .menu-btn {
    display: none;
  }
  
  
  
  .header .menu-btn:checked ~ .menu {
    max-height: 350px;
  }
  
  
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  
  
  
/* Header mode Bureau*/

  nav{
    display: flex;
    width: 75%;
    margin: 0px auto;;
    padding: 30px 0px;
    z-index: 1;
    align-items: center;
  }
  
  nav a{
    color: #000;
    text-decoration: none;
    font-size: 17.5px;
    font-weight: bold;
  }

  
  .grilles, .direct, .catalogues{
    border-radius: 20px;
    margin: 15px 30px;
  }
  .grilles:hover, .direct:hover, .catalogues:hover, .ee:hover{
    opacity: 0.6;
    transition: 0.3s;
  }
  
  
  
  
  
  .right{
    margin-left: auto;
  }
  
  .left{
    margin-left: 2%;
  }
  
  
  
  .ee{
    text-align: left;
    /*font-size: 16px;*/
    margin: 20px;
  }
  
  
  
  
  .eechnls{
    background-color: rgb(93, 216, 252);
    border-radius: 20px;
    padding: 5px 6px;
    margin: 12px 0px;
    font-size: 15.5px;
    color: #000;
    margin-right: 20px;
  }
  
  
  
  
  
  
  @media (max-width: 825px) {
  nav a {
    color: #A3CCCA;
    text-decoration: none;
    font-size: 16.5px;
  }
  
  .eechnls {
    padding: 5px 6px;
    margin: 12px 0px;
    font-size: 13.5px;
    margin-right: 10px;
  }
  .grilles, .direct, .catalogues {
    border-radius: 20px;
    /* padding: 5px 30px; */
    margin: 15px 20px;
  }
  .ee {
    text-align: left;
    font-size: 16px;
    margin: 10px;
  }
  
  }









    
    

  /* En dessous de 780px */
  
  @media (min-width: 851px) {
  
  .header{ 
    display: none;
  }
  
  .header li {
    float: left;
  }
  
  
  .header li a {
    padding: 20px 30px;
  }
  
  
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  
  
  .header .menu-icon {
    display: none;
  }
  }

  @media (max-width: 850px) {
  


    .header-desk{
      display: none;
    }
  
  }


  
  
  
  

  
/*Underline header responsif*/

  
  
  a.underline
  {
      position: relative;
      font-weight: bold;
  }
  
  a.underline:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right,#3059ff, #62dbff);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  
  a.underline:hover:before {
    visibility: visible;
    width: 100%;
  }
  .head-left{
    flex: 0 1 50%;
    margin-left: auto;
    justify-content: right;
    text-align: right;
    }
    
    .link{
      flex: 0 1 30%;
    }
    
    .head-right{
      flex: 0 1 50%;
    }
  



              footer{
                background-color: red;
              }
              
              .footer-flex{
                display: flex;
                justify-content: space-between;
                width: 85%;
                margin: auto;
                align-items: center;
                /*height: 60px;*/
              }
              
              
              .footer-left{
                width: 45%;
              }
              
              .footer-right{
                width: 25%;
                justify-content: space-between;
                text-align: right;
              }
              
              footer img{
                width: 30px;
                margin: 0px 15px;
              }
              
              
              .button-link{
                background-color: red;
                text-align: center;
                width: 12.5%;
                padding: 6.5px 17.5px;
                border-radius: 20px;
                margin: 20px auto;
                cursor: pointer;
              }
              .button-link:hover{
                opacity: 0.9;
                background-color: rgb(189, 2, 2);
                transition: 0.5s;
              }
              
              .button-link a{
                color: #ffffff;
                text-decoration: none;
              }


/*ScrollBar*/

::-webkit-scrollbar {
  width: 8px;
  background-color: #020209;
}
::-webkit-scrollbar-button {
  width: 8px;
  display: none;
  
}
::-webkit-scrollbar-track {
  background:#eee;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .7);
  border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 1);
  transition: .7s;
}