<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
        <link  rel="stylesheet" href="/css/header.css">
        <link  rel="stylesheet" href="/css/home.css">
        <link  rel="stylesheet" href="/css/carousel/carousel.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
        <link rel="icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSXoXV3qq70JlaV-l9CHv39AvhDU8SS29nNQ&usqp=CAU" />
    </head>
    <body>
    <div class="main">
    <div class="main2">
            <div id="alert" style="">
                <p><i class="fas fa-exclamation-triangle"> </i> Alerte Covid: Port du masque obligatoire</p>
            </div>

    <header class="header-res">
        <div class="channel-flex">
            <a href="../index.php" class="eechnls"><img src="/img/logos/nation_sounds.png"></a>
        </div>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">    
            <li><a href="index.php?page=grilles" class="grilles">Programme</a></li>
            <li><a href="/scenes" class="direct">Scènes</a></li>
            <li><a href="index.php?page=catalogue" class="catalogues">Billeterie</a></li>
            <li><a href="index.php?page=grilles" class="grilles">FAQ</a></li>
            <li><a href="index.php?page=eeo-live" class="direct">A propos</a></li>
        </ul>

    </header>
    <header class="header-desk">
        <div class="nav">
            <nav>    
                <div class="left">
                    <a href="../index.php"><img src="/img/logos/nation_sounds.png" style="width: 100px;"></a>
                </div>
                <div class="right">
                    <a href="index.php?page=eeo-live" class="ee" id="eeone">Programme</a>
                    <a href="/scenes" class="ee" id="eetw">Scènes</a>
                    <a href="index.php?page=billeterie" class="ee" id="eethr">Billeterie</a>
                    <a href="index.php?page=scenes" class="ee" id="eethr">FAQ</a>
                    <a href="index.php?page=contact" class="ee" id="eethr">A propos</a>
                </div>
            </nav>
        </div>
    </header> <div class="container">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
 </div>



<div class="carousel-slider" id="responsive">
    <h2>Nos partenaires</h2>
    <div class="carousel-content" data-grid='{"xl":3,"lg":3,"md":2,"sm":1}' data-pagination="true">
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
